---
title: Web design and UI
date: 2014/08/08
category: cultural
tags: DBC, HTML, design, UI
---
<article>
  <header>
    <img src="http://placekitten.com/580/200">
    <span class="subtext">This picture is not relevant to the content. It's an awesome placeholder from <a href="http://www.placekitten.com" target="_blank">placekitten.com</a></span>
  </header>
  <section>
    <h2>An introduction</h2>
    <p>In this blog post I will look at three websites I frequently visit and share my view on their design and my individual user experience.</p>
  </section>
  <section>
    <h3><a href="http://www.polygon.com" target="_blank">Polygon</a></h3>
    <p>What I remember most on my first introduction to Polygon is not the content of the article, but the way it was worded. It wasn't a quick copy of a buzzing news post, it was solid journalism written on possibly my favorite medium: Video Games. (Yes, that's two capitals right there.) What's more is that I started reading the comments and found them mostly respectful. I was amazed and that is when Polygon became my go-to site for video games.</p>
    READMORE
    <p>It is a pleasure to be there, both for the content and the way it is presented. It's modern, it's responsive, professional and consistent. Along with articles which are entertaining, informative and sometimes have a unique take on the video game culture. It isn't afraid to speak up for diversity and I like that this conversation is happening.</p>

    <p>One point I find odd is that the featured article grid on the main page is shaded dark. This makes it so that my attention is instead drawn towards the first article which happens to be underneath it. The color choices have the exact opposite effect on what the focal point should be.</p>

    <p>Navigating the site is easy. When I want to see an overview video they are very easy to find. It's great to get insight into games without looking at talking heads or it being made into a few minute review. Polygon presents a quick overview for news as well as more in-depth articles. It's great source for all aspects of video game culture.</p>
  </section>
  <section>
    <h3><a href="http://www.codecademy.com" target="_blank">Codecademy</a></h3>
    <p>Without this site you wouldn't read this. While <a href="http://www.devbootcamp.com" target="_blank">Dev Bootcamp</a> is teaching me now, it started with Codecademy and I can absolutely recommend anyone even remotely interested in programming to start right there.</p>

    <p>Codecadamy is inviting, engaging and encouraging. It does a great job explaining concepts and then helps you along with hints and a forum. There's really no way to get stuck and I found myself just going on to get a high streak and more achievements which testify that I am learning things and can feel proud of it.</p>

    <p>A recent visual overhaul provided the site with a more minimalist look and while I like the clean efficiency I thought a few things were missing from the previous design, but I have seen they are still adding and revising, so it's nice to see this being improved ongoingly.</p>

    <p>The blog is actually really interesting as well and it's great to see they are reaching out to get as many people as possible to learn computer languages. They are funded by people who see value in their purpose and approach. This generosity for great ideas put into practice this way is really encouraging. Codecademy is one of the best websites I know.</p>
  </section>
  <section>
    <h3><a href="http://www.last.fm" target="_blank">Last.fm</a></h3>
    <p>Last.fm has been a long time resident in my bookmarks. While it's functionality is now also integrated into Spotify, I still find the recommendations of Last.fm to be more precise and informative. I also like having a peek at my musical neighbours and find out what they are listening to.</p>

    <p>Besides finding new music, it is also a rich user driven database of biographies and discographies. It's very to get into and start participating how little or how much you like. I don't really use it, but you could see which gigs are happening around you and who else is going.</p>

    <p>It's design has been pretty much the same for as long as I know it. Minor changes have been made and I'm not sure what has happened under the hood, but I can understand the "If it ain't broke, don't fix it." approach. It serves its purpose very well.</p>

    <h2>In closing</h2>
    <p>Well, that's about all I have to say on the subject. Thank you for reading and I hope this has been of value to you.</p>
  </section>
</article>
