---
title: Site Evaluation
tags: dbc, website
---
<article>
  <header>
    <h1>Site Evaluation</h1>
  </header>

  <section>
    <h3>Nine weeks of blogging</h3>
    <p>One of the things DBC taught me is to get into the habit of blogging regularly. While the topics weren't something I would choose to blog about this process has been educative to me. In the cultural blog assignments I considered things I had not considered before. In the technical blogging I realized how blogging really helps solidify the topics I chose.</p>

    <p>I have to admit that when I blogged I always picked the topic I felt most unfamiliar with, so I had to learn about it before and while I blogged about it. This is an efficient way of both increasing and sharing my knowledge.</p>
    READMORE

    <p>When I blog the first thing I will consider if it is worthwhile for someone else to read. I hope this has been the case so far and when picking my next blog topics this will be my primary consideration.</p>
  </section>

  <section>
    <h3>Achievement Unlocked</h3>
    <p>When I started building my site I had wireframes, but when building it, the wireframes became nothing more but a very rough outline and were soon after forgotten. Looking back at my site now I am happy with the starting page, but I would like to redo my blog page.</p>

    <p>One of the first things I wanted to do once I had my landing page was for it to transition smoothly into the next pages. Being introduced to JQuery allowed me to do just that.

    <p>I did look into using my own domain name on the GitHub pages and I was surprised by how fast I got that done. I expected some more technical hiccups here, but sometime things just go smoothly.</p>

    <p>While I didn't get into Jekyll or Middleman yet, I will look into this after DBC as I can see the benefits of using this to generate my templates. It will make it easier to transition to other layouts or fix something without having to go through all my blog posts again.</p>

    <p>I did rethink my blog index page and it makes more sense to me now. It is still a work in progress and I have some ideas on how to improve this. Again, I will take this on after I finish my nine weeks in DBC.</p>
  </section>
</article>
