---
title: Installing Linux Mint on a Macbook
tags: mac, osx, linux, mint
published: false
---

%section
  %h3 Why do this?
  %p I've never been a Mac fan and getting familiar with it hasn't turned me around. It just made me miss the ease with which I can customize just about anything in Linux. OSX is opinionated. Apple is opinionated. And if it fits your style, it's great. It just doesn't fit mine.
  %p I could write several paragraphs about why I don't like Apple as a company or what they do with their computers, but I'll leave that to rest.
  %p I received a Macbook when I started my new job as a Web Developer. At first I wanted to use my own machine, but I couldn't attach it to the Apple Cinema displays and honestly, my laptop is a gaming rig as well, so I'm not unhappy about the lightweight Macbook for my daily commute.
  %p But just because I got a Macbook for efficiency doesn't mean I have to give up on Linux.
  READMORE
%section
  %h3 Preparation
  %p Before I approached this situation I looped up what difficulties I might run into. After hacking away at computers for prolonged hours into the night just because I want to get it finished I learned to best be prepared and set aside some time. Don't mess with your hardware in the evening when you need it the next day.
  %p From experience I have noticed Linux has come a long way. Linux Mint 17 has been a dream for me. Sure, I still need to look things up and try things out, but that's no different for any power user on any OS. I expected a manual installation for the wifi, but it was easier than that.
%section
  %h3 No effort
  %p I made a Linux Mint boot USB, booted up by holding down alt on my Mac and booted straight into Mint. Everything worked from USB, so I installed, rebooted and done.
  %p Seriously. That was it.
  %p Okay, I had to do one more thing which was to download nonfree software which doesn't come installed. This was necessary for the Broadcom Airport driver. Further more I noticed the battery was running down really quick. I installed cpu-freq and when I plug out AC I put it on conservative. I don't notice any performance loss, but now the battery lasts as long as it should
%section
  %h3 But all my stuff!
  %li This was my main concern. Sure, I recently learned how to backup and share my dotfiles on GitHub. But I had a lot more than that.
  %li So I finally got around to saving my Sublime Text 3 settings on Dropbox.
  %li I am already using oh-my-zsh and my zshrc file points to it.
  %li I was able to export and import my Cinnamon settings quite easily.
  %li I also had to export and import my additional software repositories. I was able to wrap all of this in scripts.
  %li But what truly amazed me about Mint was the ability to export my list of installed software packages, import it and just tell the new installation to download and install everything.
  %p The only thing I did have to do wasn't hard, but it took time and I will look into Amamskljl to automate this. It's just my rbenv and ruby installations.
%section
  %h3 In closing
  %p That was ridiculously easy. And it's running really well. I would still prefer the XPS 13, because I don't like that I don't have my page up, down, home and end keys on this laptop.
