---
title: Postgres with Rails on Linux Mint
tags: linux, postgres, ruby, rails
---

%article
  %h1 Postgres with Rails on Linux Mint
  %section
    %p This will be very short to let you know how to set up PostgreSQL so you won't have to use a password. Obviously this isn't the most secure, but this is assuming you don't have sensitive data in your development and test environment. (Which you shouldn't have.)
    READMORE
    %p There is an excellent guide on how to set up Postgres on Ubuntu. I use Linux Mint, but 95% of the time an Unbuntu how-to will work on Linux Mint every time. If you haven't done that yet, go do that first:
    %p= link_to 'Install PostgreSQL on Unbuntu', 'https://help.ubuntu.com/community/PostgreSQL'

  %section
    %h3 Minimal configuration
    %p So what I want for my Rails projects is a postgresql setup which will create the databases I need and be compatible with people I work on projects with who probably use a Mac.
    %p This is what my database.yml file would look like:
    :code
      # lang: ruby

      default: &default
        adapter: postgresql
        encoding: unicode
        pool: 5

      development:
        <<: *default
        database: project_name_development

      test:
        <<: *default
        database: project_name_test

    %p Now with Postgres installed and the configuration set up there was one thing that kept bugging me and it took me some Google searches, visits to StackOverflow and some trial and error before I got it right. So here it is:

  %section
    %h3 The point of this post
    %p This is where you should go: <span class='inline-code'>/etc/postgresql/9.3/main/pg_hba.conf</span>
    %p Then I simply added this line:
    :code
      # TYPE  DATABASE        USER            ADDRESS                 METHOD
      host    all             richard         127.0.0.1/32            trust
    %p This means that for user 'richard' I set a blank password and now allow all connections which I run from Rails. That's it really. Nice and easy.
