<nav class="navigation">
  <ul>
    <li><span id="first_name">richard</span><span class="last_name">baptist</span></li>
    <li>web developer</li>
  </ul>
  <ul>
    <li>
      <%= link_to "Richard's Blog", "index.html", class: 'blog-title' %>
    </li>
<!--     <li><a href="/about.html">About</a></li>
    <li><a href="/projects.html">Projects</a></li>
    <li><a href="/blog/index.html">Blog</a></li>
    <li><a href="/contact.html">Contact</a></li>
 -->  </ul>
</nav>
