<nav class="title">
  <ul>
    <li>
      <% #link_to "RichardBaptist WebDeveloper", "index.html", class: 'blog-title' %>
      <a href="/index.html" class="blog-title">Richard<span>Baptist</span> Web<span>Developer</span></a>
    </li>
  </ul>
</nav>
