// Typography
$base-font-family: 'Source Sans Pro', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$light-yellow: #E4EDD1;
$light-green: #D1DBBD;
$green-gray: #91AA9D;
$blue-green: #3E606F;
$darker-blue: #202A38;

// Font Colors
$base-background-color: $light-green;
$base-font-color: $darker-blue;
$action-color: $blue-green;

// Border
$base-border-color: $darker-blue;
$base-border: 0.15em solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

