// Typography
$base-font-family: 'Source Sans Pro', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0.5em;
$inner-border-radius: 0.4em;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-green-blue: #092a2a;
$green-gray: #5B845E;
$red: #93032e;
$lighter-green: #ACDED6;
$light-green: #95ce82;
$lighter-green-yellow: #D5EAC0;
$lighter: #d1f0b1;

// Font Colors
$title-color-1: $lighter-green-yellow;
$title-color-2: $green-gray;
$base-font-color: $dark-green-blue;
$action-color: $green-gray;

// Div Colors
$div-background-color: $lighter;
$base-background-color: $light-green;

// Border
$base-border-color: $dark-green-blue;
$base-border: 0.15em solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

