<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="../js/shared.js"></script>
  <title>Blog - Stereotype Threat</title>
</head>
<body>
  <div class ="title t_top">
   <h1>Open Frontier</h1>
 </div>
 <nav class="nav_top">
  <ul>
    <li><a href="../about.html">About</a></li>
    <li><a href="../projects.html">Projects</a></li>
    <li><a href="../blog-index.html">Blog</a></li>
    <li><a href="../contact.html">Contact</a></li>
  </ul>
</nav>
<article>
  <header>
    <h1>Identity and Stereotype Threat</h1>
  </header>
  <section>
    <h3>Definition</h3>
    <p>Claude M. Steel brings the following definition to Stereotype Threat: <i>"Being in a situation for which a negative stereotype about one of your identities could be applied to you."</i></p>
    <p>In my interpretation: Fear of being judged based on who you take yourself to be.</p>
  </section>

  <section>
    <h3>My Impression</h3>
    <p>I must say this is a really broad topic. The research and examples go into great depth and made me consider many things. It is a shame that we live in a society where our differences are emphasized so much that we first assume an identity based on those differences and then proceed to measure a great many things against these labels.</p>
    <p>I appreciate how broad Steele's approach is in this regard. It is important to be aware of these patterns as recognition is required before we can even decide to make a change.</p>
    <p>One thing Steele brought up was how people who are often thought of as judging or stereotyping are afraid of being seen that way. This has been my experience as well, when being in a social role, or even as a tourist somewhere. I feel like I am representing a group and wish to provide the best example. (I believe this is one of the reasons why for example many people who visit the Netherlands will say the people are friendly, but I've heard many Dutch people consider the average person to be rude.)</p>
    <p>I was fascinated by the many small cues which can have such a great impact. I do believe this presentation has increased my awareness of such clues. I am glad to see an ongoing and increasing public debate helping to increase awareness in these issues which I think is important.</p>
  </section>

  <section>
    <h3>My Experience</h3>
    <p>For many years I have been interested in what makes up my core identity. The question "Who am I?" was never really answered to my satisfaction. Influenced by many great people I did come to the conclusion that I am none of the descriptions or labels. The absolute core identity is my experience of simply existing, experience itself. Everything else proceeds from there. And this sense of existing, the deepest sense of "I" is the identity we all share.</p>
    <p>All I can do is what I have been doing: Simply not let these thoughts or sensations take me for a ride, but remaining open to the current situation. In that I have my stability. I hope I can exemplify that and fully welcome all I am in interaction with. Simply expressing the value I see is a great way to let someone know they are welcomed and appreciated. It is how I prefer to relate to people.</p>
    <p>Perhaps some situations call for it, but when I or others feel stereotype threat I don't think we need to publicly discuss each occurrence. I don't believe anyone who is aware of stereotype threat will continue to engage in it. When the awareness is there, it will resolve automatically. When each person in the situation proceeds with openness to the best of their capacity the focus will shift towards what is more important. (Creating code.) If it persists or someone needs to be made aware of it there can be space for that. I think discernment and good judgment will be the guide natural guide here.</p>
  </section>

  <footer class="subtext">
    <span>Written by Richard Baptist,</span>
    <time datetime="2014-09-11">11 September 2014</time>
  </footer>
</article>
</body>
</html>
