---
title: Conflict
tags: dbc, social
---
<section>
  <p>I would like to invite you to do an <a href="https://www.google.com/search?q=conflict&biw=1920&bih=968&source=lnms&tbm=isch&sa=X&ei=ZM4qVJ2EFsjCPIz3gcAL&ved=0CAYQ_AUoAQ">image search on Google</a> for conflict. There are two things that I noticed: Almost all of them feature people in traditional office wear and exactly all of them look ridiculous. The only exception is the image with the children being angry with each other. When it comes children it's easy to understand conflict over small things. We all have to learn how to deal with different people and situations. It's when you see adults behave in this way that it is obvious they haven't had the opportunity or wisdom to develop in this regard.</p>
  <p>I am glad to see DBC embracing emotional intelligence where it is made clear we can be angry or annoyed, but don't have to be driven by these emotions. I loved Sharif's talk on the compass of shame, as he indicated that each of these reactions only come forth out of a desire to be of benefit, and that each of these methods are also signs of a unique strength.</p>
</section>
READMORE
<section>
  <h3>My experience</h3>
  <p><ul>
    <li>Discuss a time you had an emotional conflict with someone. What was it about? What happened?</li>
    <li>What was the source of the conflict?</li>
    <li>How did you handle that conflict?</li>
    <li>Did your actions make the conflict better or worse?</li>
    <li>If you could go back, what would you do differently, if anything?</li>
    <li>What did you learn from this experience?</li>
  </ul>

  <p>This question makes me realize how lucky I am. I had to think long for a bit on this. I mean, I know I've had a discussions over the taxi price somewhere in South East Asia and I probably expressed my annoyance in some way. It doesn't really matter. Even at those times I don't look at making a stand, but how to solve the situation. And while I can have inner turmoil, it only results in conflict if I believe my frustration or annoyance needs to be directed at a person. I don't believe that anymore. Someone can stand in front of me and yell in my face and I wouldn't call it conflict. Sure, I would experience a range of emotions, maybe fear, guilt, hatred, anger, but in that range of emotions I always have a choice in how to respond. This is what was talked about in the DBC recommended emotional intelligence talks. This is not a new concept to me.</p>

  <p>Other than that there are conflicts in my past where I know my actions made things worse through blaming someone or by trying to avoid a person or situation. This was all very painful and while avoidance can seem to remove conflict, it only suppresses it. It always only made things worse.</p>

  <p>If I could go back I would use the wisdom I have now and be more empathetic in the way that I can see the other persons motives are to want the best for me. Their concern for me can be expressed in ineffective ways, but that doesn't mean I have to respond ineffectively.</p>

  <p>I would listen openly, without putting up a defensive stand or preparing a counterattack, making sure the other person is heard and let them know they are heard. Offering resolution where possible, but simply accepting the other persons feelings if resolution cannot be found at that time.</p>

  <p>One way to avoid conflict is by giving in, but again, the conflict simmers on. Just because there isn't a clash does not mean there is no conflict. Only a peaceful allowing of things as they are can resolve conflict naturally. I strongly believe this and have experienced this in my life on several occasions.</p>

  <p>This is why I say I haven't really had any conflict for some time now. And the more I practice lettings things be as they are, the more confident I become in that.</p>

  <p>We cannot really choose our thoughts and emotions, but we can always choose what to do with them. This is where our responsibility lies. This is where the choice lies between being a victim and being free.</p>

  <p>I have to give credit to Balanced View here as the support provided in this grassroots movement has been invaluable to me. Growing up, being out in the world, I always knew there had to be a better way of living than what most people were doing. In the simple practice of lettings things be for short moments I found how. This is what I take with me always, this is how I recognize my emotions stir and my opportunity to make my decisions based on what serves everyone best. I don't take things so personal anymore. This relaxes me and my reactions. In this way conflict cannot really take hold.</p>
</section>
