---
title: Thinking and Learning
date: 2014/08/21
category: cultural
tags: dbc, social, learning
---
<article>
  <header>
    <img src="/img/blog/growth.jpg">
    <span class="subtext">Easeful growth</span>
  </header>
  <section>
    <h3>Abstract Sequential or Concrete Random</h3>
    <p>For my application I was asked to complete a few questionnaires to identify my thinking and learning style. I completed <a href="http://www.thelearningweb.net/personalthink.html">this questionnaire</a> to determine my <a href="http://gregorc.com/">Gregorc thinking style</a>. Although some results were pretty close, the dominant outcome was Abstract Sequential.</p>
    <p>While it can be as fun, yet more informative than a <a href="http://www.buzzfeed.com/keelyflaherty/which-firefly-character-are-you">"Which Firefly character are you?"</a> quiz, I consider an issue with this typecasting.</p>
    <p>This can definitely provide useful insight into my own behaviour and at the same time I am applying a label, which is a description. By its very definition a label is a limitation of what it attempts to describe. It is very important to keep this in mind when taking on one of these labels. You put on a coat and that coat can be comfortable, but you may find at one point you have outgrown it and it becomes restricting if you hold onto it.</p>
    READMORE

    <p>With that said, I do recognize myself in most of these descriptions when I reflect on my own learning experiences. Conrete Random was a very close second by only two points. When I look at <a href="http://web.cortland.edu/andersmd/learning/gregorc.htm">this list</a> I feel 100% in accordance with Concrete Random and perhaps 85% with Abstract Sequential. And I believe I am experienced enough to know it isn't just my own perception when I say I don't have any trouble not monopolizing a conversation. Being diplomatic when convincing others is something I had to learn over the years and I can still catch myself diverging from that now and then, although less and less so.
    </section>
    <section>
      <h3>Growth mindset</h3>
      <p>Another article of required reading was <a href="http://www.brainpickings.org/index.php/2014/01/29/carol-dweck-mindset/">Fixed vs. Growth Mindset</a> I believe these two images describe it well in a brief overview <a href="http://www.d11.org/Instruction/Documents/Mindset_Resources/Growth_Mindset_Poster.bmp">Growth</a> and <a href="http://www.d11.org/Instruction/Documents/Mindset_Resources/Fixed_Mindset_Poster.bmp">Fixed</a>.</p>
      <p>This I can recognize to be true. I used to believe in a fixed mindset. The fixed mindset comes along with lots of comparison to others resulting in arrogance on one end and insecurity on the other. None which really serve any kind of relationship. How I experience life and look at the world today compared to five or even two years ago is all the evidence I need to know that the mind is not a fixed thing.</p>
      <p>This means then that our thinking and learning styles are also not fixed. While I will have my preferences and I will seek out circumstances which stimulate me most, it is also good to be able to function openly in all circumstances. I can be comfortable and enjoy myself. I can also be uncomfortable but at least I will make sure to not shut down and get the most out of the situation. This is the place outside of the comfort zone where a different type learning takes place. Both scenarios can be very valuable.</p>
    </section>
    <section>
      <h3>Learning at Dev Bootcamp</h3>
      <p>I don't really indulge in anticipation or projection, so whatever ideas come up, I will just allow them to be without me having to make something out of it. This has proven to be a very good way to approach life in general, allowing me to be adaptable, open and responsive.</p>
      <p>This is what I will bring to Dev Bootcamp. I will take on the advice, contribute to the full extend of my capabilities and just be open to the process and the dynamics that will arise from each interaction. This is the only intent I have when I arrive at DBC, when I do these practices; To learn from everyone there, including myself, to build solutions together and to have an enrichment of knowledge and skills I take with me wherever I go.</p>
    </section>
  </article>
