---
title: Asking Questions
tags: dbc, social
---
<section>
  <h2>The right question</h2>
  <p>Asking a good question does take more consideration than you would initially think. I have worked in various IT support roles where I had to both answer questions as well ask questions to other specialists. I know what it's like for both sides of the question. It is important to provide brief, yet detailed and only relevant information, while making sure you aren't omitting anything helpful. It can be important to provide environment variables when they are relevant, but they should be very succinct.</p>
  <p>When it comes to asking questions about code, I understand it is important to reduce the amount of example code to a minimum and use easy to understand, general variables and names. This is what I took away from the presented article.</p>
  READMORE
  <p>Considering my own questions I know I have not actually done that. So far though my questions on code in G+ have been specific to the shared exercises, so we all know the circumstances, but I should keep this in mind.</p>
  <p>When I ask my questions I definitely position myself as a potential answerer. Sometimes I find the answer to my question by simply writing it out, noticing a detail I haven't tried yet, then try different things on that which will lead me to more useful information if not a complete solution.</p>
</section>

<section>
  <h2>Asking in person</h2>
  <p>When I approached colleagues with questions I always made sure I had all information ready, either jotted down on paper or by bringing a laptop or making sure we can look at the same screen quickly.</p>
  <p>What is emphasized is that the person providing help is taking out time and that is very true. It is goodwill and I make sure to let the other person know it is appreciated. Likewise, I am always happy to help someone who is prepared and whom I know will be helped on their with the provided information. I just believe that we can pass on what we are given. I think that is our natural inclination and I like to accommodate that.</p>
</section>

