---
title: Values
date: 2014/09/17
category: cultural
tags: dbc, values
---
<article>
  <header>
    <h1>Values</h1>
  </header>
  <section>
    <p>When I think of my happiest, proudest and most satisfying moments, which values come to mind?</p>
    <p>Achievement, Adventure, Community, Compassion, Cooperation, Decisiveness, Effectiveness, Freedom, Friendships, Growth, Helping other people, Honesty, Insight, Inspiration, Integrity, Meaningful work,  Nature, Openness, Personal development, Physical challenge, Responsibility, Self-knowledge, Stability, Wisdom</p>
    <p>Quite a list. Some are similar, some compliment each other, some are applicable in different ways, but I find each of these important.</p>
  </section>
  READMORE
  <section>
    <h3>Self-knowledge</h3>
    <p>When I choose only one value it is this one, because it is the foundation of all other values. To me self-knowledge has been the most significant drive in my life decisions. It has and continues to be my deepest commitment. I would go as far to say that this is the highest goal in my life and living a life neglecting it is a life without meaning. With lack of self-knowledge there can be no real relationship, no openness, no growth. Nothing can be offered to me which is of greater value than the knowing of who I am. This understanding of self is ever increasing, ever expanding and with it my life continues to be enriched in ways I couldn't have imagined.</p>
  </section>

  <section>
    <h3>Rating my Values</h3>
    <p>
      On a scale of 1 to 5, do I try to live up to these values?
      <div style="position: relative; margin: auto; width: 38em; font-size: 0.5em">
        <div class="ls">
          <ul>
            <li>Achievement - 3</li>
            <li>Adventure - 4</li>
            <li>Community - 3</li>
            <li>Compassion - 2</li>
            <li>Cooperation - 5</li>
            <li>Decisiveness - 4</li>
            <li>Effectiveness - 5</li>
            <li>Freedom - 5</li>
            <li>Friendships - 4</li>
            <li>Growth - 5</li>
            <li>Helping other people - 5</li>
            <li>Honesty - 5</li>
          </ul>
        </div>
        <div class="ls">
          <ul>
            <li>Insight - 5</li>
            <li>Inspiration - 5</li>
            <li>Integrity - 5</li>
            <li>Meaningful work - 5</li>
            <li>Nature - 5</li>
            <li>Openness - 5</li>
            <li>Personal development - 5</li>
            <li>Physical challenge - 3</li>
            <li>Responsibility - 4</li>
            <li>Self-knowledge - 5</li>
            <li>Stability - 3</li>
            <li>Wisdom - 4</li>
          </ul>
        </div>
        <div class="filler"></div>
      </p>
    </section>

    <section>
      <h3>Advice</h3>
      <p>Honestly, I don't remember the specifics when someone asked me for advice. It's usually, if not always, based on decision making however. In this regard I believe the person asking for advice most of the time knows the answer, but has concerns regarding that decision. An outside perspective can help a person see a wider view. If I have this opportunity I would happily help. Although I do feel it is important to let people get to know and trust their own wisdom. This should be the basis of such exchanges.</p>
    </section>

    <section>
      <p>When I think of my values I feel a strong resonance and an importance to uphold them. Some things I feel come easier than others. Trying to be compassionate can only breed insincerity, so I wouldn't 'try' at it. I do find compassion important, but I take it as it comes. Other things are more internal and are easier to uphold. To be honest, I rated these values without thinking about it much. This wasn't the result of an intellectual evaluation.</p>
      <p>As to how to mediate stereotype threat, I don't much to add to what I wrote last week. This relates perfectly to self-knowledge. Being aware of what I sense or do and making the right choice in that moment. Looking at my list I see the following values apply here as well: Helping other people, insight, responsibility, truth, cooporation.</p>
      <p>When I feel down I allow myself to feel down without indulging in it. I am fortunate to have a full support system which allows me to find wisdom in whatever it is I am feeling. Feeling 'down' is a part of me, an equal expression of who I am. This presents me the opportunity to get to know myself deeper, even in feeling down. Without making a big thing out of it, trying to get to the bottom of it or telling myself a story to diminish it, it resolves naturally. These things no longer affect my deeper sense of well being.</p>
      <p>Because of the support I recieve I have seen many benefits in my experience already. As a result I have the confidence and assurance that I can handle whatever feelings may come up.</p>
    </section>
  </article>
