---
title: Web Development, my vocation
tags: personal growth, vocation
---

%section
  %p I thought about first post on my new blog site. It should be about the technology I used to build it and that will come, but first I wanted to share my motivation as to why I wanted to maintain a blog site in the first place.
  %p This blog is an expression of who I am. I am a web developer. This is only a small part of who I am, but strangely enough, it is what I feel very much at home with right now.

%section
  %h3 Vocation
  %p Vocation is a powerful word to me. It is something which resonates strongly with my core values, my interests. It is not a job, not a career. A vocation is more powerful than that. More <i>real</i>. An extension of who I am, going out in the world and contributing what I have to give.
  %p That sounds pretty deep and honestly, I always thought of my vocation being more romantic than web development somehow. Like building a school in Vietnam or Cambodia. Not too long ago, when I still didn't know what I wanted to do when I'd grow up, I actually did things similar to that. While I found it valuable, it wasn't enough for me.
  READMORE
  %p So I looked into other things I enjoyed and I liked the idea of being able to say I was doing something really cool for a living, like being SCUBA diving or snowboarding instructor. Those are things I came close to or deeply considered. I still love these things, yet it is not something I can pour myself into entirely. Probably for a year or two, but not much longer than that.

%section
  %h3 Happiness
  %p I understand happiness is not a constant state of joy, but really a deeper, more low key satisfaction pervading all aspects of life. Maybe it's the same as satisfaction. Being a web developer is only a part of that, but I feel I am now into a profession which suits my interests entirely.
  %p If at this point you are still reading, but don't know too much about web development, I will try to convey what I enjoy about it. First of all, it is exciting to be able to work with edge technology and forward thinking people. To be able to have an idea and make it real and accessible for others. Working with new technologies means there are always problems to solve. In management terms those would be called challenges. I like to think of those as puzzles to crack.
  %p I think writing code and seeing things happen is magical, no matter how logical the explanation is. Figuring out how things work, what things are made of has always been fascinating to me. This is why web development suits me so well. what's more is that technology doesn't just come to a stop. I have a life long of learning ahead of me and I love that idea.

%section
  %h3 This blog
  %p While I felt the need to introduce my motivation for this blog, I think it will mainly focus on the technology I use and try out.
  %p I think it's a great way of contributing to the technical community. Personally I remember the number of times a great blog post helped me solve a technical issue I encountered, providing me with concise wording and clear examples. It is my goal to return that favor as often as I have the chance.
