.sidebar {
  // position: relative;
  // top: 1.4em;
  background-color: $light-yellow;
  border-radius: 0.5em;
  padding: 0.5em;
  font-weight: 500;

  ol {
    margin: 1em 0;

    li {
      margin: 0.4em 0;
      font-size: 0.8em;
    }
  }
}
