.article--content
  background-color: $div-background-color
  border-radius: $base-border-radius
  padding: 0.5em
  text-align: justify
  margin-bottom: 1.5em

.article--header
  font-size: 1em
  margin-bottom: 0.7em

.article--date
  text-align: right
  float: right
  clear: both
  margin-right: 0.5em

.article--more
  font-size: 0.9em

.article--header--image
  width: 100%
  height: 100%

.article--header--image--subtext
  font-size: 0.8em
