.article--content
  background-color: $div-background-color
  border-radius: $base-border-radius
  padding: 0.5em
  text-align: justify

.article--header
  font-size: 1.5em

.article--preview
  margin-bottom: 1.8em

.article--title
  font-size: 1.5em

.article--date
  text-align: right
  float: right
  clear: both
  margin-right: 0.5em

.article--more
  font-size: 0.9em
